NODE_ENV=test
DATABASE_URL=postgresql://neondb_owner:npg_w7hAVR0ECNSK@ep-sparkling-dawn-a8a33v7t-pooler.eastus2.azure.neon.tech/EmpNexa_test?sslmode=require&channel_binding=require
TEST_DATABASE_URL=postgresql://neondb_owner:npg_w7hAVR0ECNSK@ep-sparkling-dawn-a8a33v7t-pooler.eastus2.azure.neon.tech/EmpNexa_test?sslmode=require&channel_binding=require
CLIENT_URL=http://localhost:3000
JWT_SECRET=JWT_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWUsImlhdCI6MTUxNjIzOTAyMn0.KMUFsIDTnFmyG3nMiGM6H9FNFUROf3wh7SmqJp-QV30JWT_EXPIRES_IN_SECONDS=28800
COOKIE_NAME=empnexa_test_token
PORT=5001
TRUST_PROXY=false
